@using Test1.Models;
@{
    List<Card> cards = ViewBag.cards;
}


<table class="table">
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Card card in cards)
        {
            <tr>
                <th>@card.ID</th>
                <th>@card.Char_name</th>
                <th>@card.Card_name</th>
                
                
                
                <th>
                    @Html.ActionLink("編輯", "EditCard", new { id = card.ID })
                                |
                    @Html.ActionLink("刪除","EditCard",new { id=card.ID})
                 </th>

</tr>
           
        }

    </tbody>
</table>


<p>
    @Html.ActionLink("新增資料","CreateCard")
    </p>


